<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org/extras/thymeleaf-spring.xsd">
<head>
    <title>Inserir Fornecedor</title>
    <!-- Link to your CSS files -->
         <link rel="stylesheet" th:href="@{/css/InserirFornecedor.css}">  


</head>
<body>

    <header class="header">
        <div class="header-content">
            <!-- Navigation will be rendered here -->
            <!--<th:block th:replace="fragments/navigation :: navigation"></th:block>-->
        </div>
    </header>

    <main class="container">
        <h1>Inserir Fornecedor</h1>

        <div class="add-supplier-form">
            <div class="Formfield">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" class="Forminput" name="nome"/>
            </div>

            <div class="Formfield">
                <label for="contato">Contato:</label>
                <input type="text" id="contato" class="Forminput" name="contato"/>
            </div>

            <div class="Formfield">
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" class="Forminput" name="cnpj"/>
            </div>

            <button class="SendButton" onclick="inserirFornecedor()">Inserir</button>
        </div>

        <div class="supplier-table">
            <h2>Fornecedores</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome Fornecedor</th>
                        <th>CNPJ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="fornecedor : ${fornecedorData}">
                        <td><span th:text="${fornecedor.nome}"></span></td>
                        <td><span th:text="${fornecedor.cnpj}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="names">Desenvolvido por Kauan Loche e Rodrigo Goto</div>
            <div><img src="/Property 1=light.svg" alt="Logo"/></div>
        </div>
    </footer>

    <script>
      function inserirFornecedor() {
          // Implement your insertion logic here (e.g., AJAX)
          alert("inserirFornecedor function called. Implement your insertion logic.");
      }
    </script>

</body>
</html>
