<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org/extras/thymeleaf-spring.xsd">
<head>
    <title>Inserir Operador</title>
    <!-- Link to your CSS files -->
          <link rel="stylesheet" th:href="@{/css/InserirOperador.css}"> 
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>

   <header class="header">
        <div class="header-content">
            <div class="nav-links">
            <a class="opcoes" th:href="@{/cadastrar-usuario}">Cadastrar Usuário</a>
            <a class="opcoes" th:href="@{/inserir-produto}">Inserir Produto</a>
            <a class="opcoes" th:href="@{/eliminar-produto}">Eliminar Produto</a>
            <a class="opcoes" th:href="@{/relatorio}">Relatório</a>
            <div class="greeting">Olá, Usuário</div>
            <a class="opcoes" th:href="@{/inserir-fornecedor}">Inserir Fornecedor</a>
            <a class="opcoes" th:href="@{/inserir-gerente}">Inserir Gerente</a>
            <a class="opcoes" th:href="@{/inserir-operador}">Inserir Operador</a>
            <a class="opcoes" th:href="@{/}">Sair</a>
            <!-- Navigation will be rendered here, likely through a link or another template -->
            <!--<th:block th:replace="fragments/navigation :: navigation"></th:block>   Example using Thymeleaf fragments -->
            </div>
            
        </div>
    </header>

    <main class="container">
        <h1>Inserir Operador</h1>

        <div class="form-container">
            <div class="form-fields">
            <div class="Formfield">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" class="Forminput" name="nome"/>
            </div>

            <div class="Formfield">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" class="Forminput" name="cpf"/>
            </div>

            <button class="SendButton" onclick="cadastrarOperador()">Cadastrar</button>
        </div>
        </div>

    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="names">Desenvolvido por Kauan Loche e Rodrigo Goto</div>
            <div><img th:src="@{/images/Property 1=light.svg}" alt="Logo"/></div>
        </div>
    </footer>

    <script>
      function cadastrarOperador() {
          // Implement your insertion logic here (e.g., AJAX)
          alert("cadastrarOperador function called. Implement your insertion logic.");
      }
    </script>

</body>
</html>
