.container {
    max-width: 1920px; /* Or whatever max width you want */
    margin: 0 auto;  /* Center the content */
    padding: 20px;
    background-color: #EFEEEA;
    flex: 1; 
}

.login-form {
    display: flex;
    flex-direction: column; /* Stack form fields vertically */
    align-items: stretch;   /* Stretch items to full width */
    margin-top: 20px;
}

.Formfield {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.Forminput {
  width: 50%; /* Make inputs full width */
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background-color: #EFEEEA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  display: block;
  margin: 0 auto;
  flex-direction: column; /* stack label above input */
  margin-bottom: 16px;     /* spacing between fields */
}

.Formfield label {
  margin-bottom: 6px;      /* spacing between label and input */
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.Forminput:focus {
    border-radius: 25px;
    background-color: #ffffff;
}

.SendButton {
  background-color: #FE7743; /* Orange background color */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  font-family: 'Roboto', sans-serif;
  max-width: 250px;
  width: 100%;
  display: block;
  margin: 0 auto;
  flex-direction: column; /* stack label above input */
  margin-bottom: 16px;     /* spacing between fields */
}

.SendButton:hover {
    background-color: #273F4F; /* Darker orange on hover */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.header {
    background-color: #FE7743;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.header-content {
    max-width: 1920px;
    width: 100%;
    display: grid;
    align-items: center;
    padding: 0 40px;
}

.footer {
    background-color: #273F4F;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.footer-content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    gap: 20px;
}

.h1{
    text-align: center;
    color: #FE7743;
    font-family: Roboto, sans-serif;
}

.Titulo{
    text-align: center;
    color: #FE7743;
    font-family: Roboto, sans-serif;
}

.Tudo{
    font-family: Roboto, sans-serif;
}

.Labels{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 300vh;
  display: flex;
  flex-direction: column;
}
